esercizio5.dtd

<!--
    studente: Greta Bernardoni
    matricola: 564826
    corso: codifica di testi 19-20
    
    Definire un elemento root (TEI) e gli elementi figli (header, facsimile e text) tutti con un content model testuale
-->
<!ELEMENT TEI (header, facsimile?, text+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA)>